.viewer__no-file {
    text-align: center;
    background-color: #f9fafb;
    border: 1px dashed #d1d5db;
    border-radius: 0.5rem;
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-file__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #4b5563;
    margin-bottom: 0.5rem;
}

.no-file__message {
    font-size: 0.875rem;
    color: #6b7280;
}

.viewer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    height: 100%;
    overflow: auto;
    width: 50%;
}

.pdf-display-area {
    border: 1px solid #d1d5db;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.pdf-embed {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
}